body {
    background: white url("images/background.png") no-repeat;
    background-position: right bottom;
}

li a{
    color: white;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    line-height: 50px;
    color: white;
    text-align: center;
}

ul {
    list-style-type: decimal-leading-zero;
}